*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height:100vh;
    background-image: url('./images/Background.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
}
.header-content{
    margin-bottom: 250px;
    color: whitesmoke; 
    text-align: center;   
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto ;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    background:rgb(99, 160, 234);
    padding: 8px 15px;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
    
}
ul{
    letter-spacing: 1px;
    list-style: none;
}
.active{
    color: #f05797;
    text-decoration: underline;
    font-weight: bold;
}
.navbar h1{
    letter-spacing: 2px;
}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 30px 90px;
    color: whitesmoke;
}
.nav-links{
    display:flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
li:hover{
    color: #f05797;
    transition: all ease-in .2s;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;  
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img{
    height: 350px;
    width: 550px;
}
.col a{
    margin: 30px 0;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size:3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0px 40px;
    width: 80%;
}
.col img:hover{
    transition: all ease .40s;
    transform: scale(1.1);
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: rgb(221,221,221);
}
.explore-content .ctn{
    margin-top: 40px;
}
.tours .gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.tours .gallery img{
    max-width:300px;
    height: 200px;
    margin: 10px;
}
.tours .row .col{
    width: 50%;
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.content-col h1{
    font-size: 6vmin;
    color: #484872;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .cnt{
    margin-left: -100px;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
}
/* Mobile Devices */

@media(max-width:850px){
    .menu-btn{
        display:block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484864;
        margin-top: -950px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 90px;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* events */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
        max-height: 250px;
    }
    /* explore */
    .explore-content{
        width: 100%;
    }
    .explore-content .line{
        margin-left: -1px;
        width: 130px;
    }
    .tours .row .col{
        width: 100%;
    }
    .gallery{
        justify-content: center;
        align-items: center;
    }
    .gallery img{
        width: 90%;
    }
    .footer{
        padding: 10px;
    }
}

.ctn:hover {
    background:whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #262121;
}